* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    direction: ltr;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    backdrop-filter: blur(15px);
}

.box {
    min-width: 300px;
    max-width: 400px;
    height: 600px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.cover {
    text-align: center;
    padding: 20px;
}

.cover img {
    border-radius: 8px;
    width: 100%;
}

.music-name {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 0 0;
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.progress {
    width: 275px;
    height: 5px;
    background-color: rgb(90, 88, 88);
    margin: 0 10px;
    border-radius: 50px;
    cursor: pointer;
}

.progress-update {
    background-color: rgba(255, 0, 0, 0.623);
    height: 5px;
    width: 0;
    border-radius: inherit;
}

#current-time,
#duration {
    color: #ffffff;
    padding: 0 5px;
}

.control-btn {
    padding: 0 10px;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}

.backward,
.pause-play,
.speed,
.forward {
    margin: auto;
    align-self: center;
    border: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    background: #e0e0e0;
    transition: all .2s;
}

.control-btn button:hover {
    color: hsla(0, 0%, 0%, 0.8);
    box-shadow: inset 20px 20px 60px #bebebe,
        inset -20px -20px 60px #ffffff;
}

.control-btn button:active {
    transform: scale(0.95);


}

.forward,
.backward {
    font-size: 32px;
    width: 48px;
    height: 48px;
    align-self: center;
}

.backward {
    grid-column: 2/4;
    grid-row: 2/5;
}

.pause-play {
    width: 64px;
    height: 64px;
    font-size: 40px;
    grid-column: 4/6;
    grid-row: 2/5;
}

.speed {
    width: 30px;
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    grid-column: 4/6;
    grid-row: 1/2;
    margin-bottom: 8px;
}

.forward {
    grid-column: 6/8;
    grid-row: 2/5;
}

.volume-control {
    grid-column: 8/9;
    grid-row: 1/6;
    position: relative;
}

#volume {
    color: rgb(214, 214, 214);
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
}

.volume-range {
    width: 90px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 35px;
    right: -30px;
    overflow: hidden;
    -webkit-appearance: none;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.volume-range::-webkit-slider-runnable-track {
    background-color: #d6d6d6;
}

.volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 50px;
    box-shadow: -80px 0 0 75px rgba(0, 0, 0, 0.6);
    border: 0;
}